dist: bionic
git:
  depth: 1
before_install:
- openssl aes-256-cbc -K $encrypted_14a5be71edbc_key -iv $encrypted_14a5be71edbc_iv -in travis_key.enc -out travis_key -d
- sudo apt-get -qq update
- sudo apt-get install -y fakeroot fakechroot arch-install-scripts archivemount
script:
- cd $TRAVIS_BUILD_DIR
- git checkout master
- bash ./travis-update-this.sh
