dist: bionic
git:
  depth: 1
  fls_skip_smudge: true
before_install:
- openssl aes-256-cbc -K $encrypted_14a5be71edbc_key -iv $encrypted_14a5be71edbc_iv -in .secrets.tar.enc -out .secrets.tar -d 
- tar xvf .secrets.tar
- sudo apt-get -qq update
- sudo apt-get install -y arch-install-scripts bsdtar pigz
script:
- cd $TRAVIS_BUILD_DIR
- git checkout master
- bash ./travis-update-this.sh
